#!/usr/bin/make -f
#export DH_VERBOSE=1
PLUGIN_DIR = debian/galette-plugin-maps/usr/share/galette/plugins/galette-plugin-maps
%:
	dh $@ 

override_dh_install:
	dh_install -XLICENSE
	# Cleanup useless stuff
	rm -rf PLUGIN_DIR/lang/*.py
	rm -rf PLUGIN_DIR/*.py
	chmod a-x PLUGIN_DIR/includes/leaflet-locatecontrol/images/locate_alt.png # Bug fixed upstream
	

